@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --principal-color:rgb(183, 125, 219);
  --principal-color-light:rgb(203, 125, 252);
  --letter-color: #ffff;
  --shadow-color:rgba(202, 201, 201, 0.5);
  --secondary-color:rgb(122, 122, 212);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
