.home-options {
  background-color: var(--principal-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease;
  padding: 30px;
  color: var(--letter-color);
  font-weight: bolder;
  box-shadow: 9px 8px var(--shadow-color);
  border-radius: 0.7rem;
}

.home-options:hover {
  background-color: var(--principal-color);
  box-shadow: 8px 7px var(--shadow-color);
  border-radius: 0.7rem;
  transform: translate(4px, 4px);
}

.main-title  {
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 25px;
}

.main-title-container  {
    color: var(--principal-color-light);
  }

.link-container{
    
}