.main-columns-container {
  display: flex;
  height: auto;
  overflow: auto;
  flex-wrap: wrap;
}
.product-container {
  flex: none;
  width: 33.3333333333%;
  padding: 0.80rem;
  z-index: 1;
}
.product-container:hover{
    box-shadow: 1px 2px 5px 5px#e2e2e2;
}
body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


.product-image{
   height: 220px; 
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
.image-wrapper{
display: flex;
align-items: center;
position: relative;
height: 100%;
}
.image-wrapper img{
    height: auto;
    max-width: 100% !important;
    max-height: 100% !important;

    flex-shrink: 0;
    display: block;
    mix-blend-mode: multiply;
    opacity: 1;
    border-radius: 6px;
}
.product-content{
    padding: 5px 15px 15px;
}
.product-top-content
{
    margin: 10px 0 5px;
}
.product-title{
    font-weight: 500;
    word-break: break-word;
}
.product-desc p{
    max-height: 60px;
    overflow: hidden;
    font-size: 12px;
}
.product-sub-title{
    font-size: small;
    color: var(--secondary-title-color); 
}
.product-price-container h4{
    margin: 0;
    font-size: 1.25rem;
    color: var(--price-color);

}
/* .description-container p {
    white-space: pre; /* Mantiene los saltos de línea del texto 
    overflow-wrap: break-word; /* Permite que las palabras largas se dividan en la línea 
} */
